body{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.display{
    margin-top:10px;
    margin-bottom:30px;
    padding:0px;
    width:500px;
    height:100px;
    background-color:aquamarine;
}